langchain
langchain-core

langchain-google-genai
google-generativeai 

# Environment variables management
numpy
python-dotenv
scikit-learn

# Google Cloud dependencies for text-to-speech and speech-to-text
 google-cloud-speech
 pyaudio